<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- ================== USER MODULE ================== -->
	<bean id="springUserAction" class="framgiavn.project02.web.action.UserAction">
		<property name="userBusiness" ref="UserBusiness" />
	</bean>
	<bean id="springSupervisorAction" class="framgiavn.project02.web.action.SupervisorAction">
    </bean>
    
    <bean id="springSubjectScreenAction" class="framgiavn.project02.web.action.SubjectScreenAction">
    	<property name="userBusiness" ref="UserBusiness" />
    	<property name="subjectScreenBusiness" ref="SubjectScreenBusiness" />
    </bean>

	<bean id="springUserSignUpAction" class="framgiavn.project02.web.action.UserSignUpAction">
		<property name="userBusiness" ref="UserBusiness" />
	</bean>

	<bean id="springCourseScreenAction" class="framgiavn.project02.web.action.CourseScreenAction">
		<property name="courseBusiness" ref="CourseBusiness" />
	</bean>
	
	<bean id="springManageCourseAction" class="framgiavn.project02.web.action.ManageCourseAction">
		<property name="courseBusiness" ref="CourseBusiness"></property>
	</bean>

</beans>