body {
	background-color: whitesmoke;
	margin: auto;
	width: 80%;
}

.subjectDetail {
	text-align: center;
}

.tasks {
	margin: auto;
	text-align: center;
	width: 50%;
}

.row-content {
	margin: auto;
	width: 80%;
	text-align: left;
}

.subject {
	margin: auto;
	width: 80%;
	text-align: left;
}

#btn {
	margin-top: 20px;
	width: 50%;
	text-align: center;
}

#headName {
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
}